.container {
  padding: 0 2rem;
}

.main {
  min-height: 100vh;
  padding: 4rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer {
  display: flex;
  flex: 1;
  padding: 2rem 0;
  border-top: 2px solid #f5f5f5;
  justify-content: space-around;
  align-items: center;
}

.footer a:hover,
.footer a:focus,
.footer a:active {
  color: #0000ff; /* Blue */
  border-bottom: 2px solid #0000ff; /* Blue */
  transition: color 0.15s ease;
}

.title {
  margin: 3rem 0 0 0;
  line-height: 1.15;
  font-size: 4rem;
}

.title,
.description {
  text-align: center;
}

.description {
  margin: 4rem 0;
  line-height: 1.5;
  font-size: 1.5rem;
}

.grid {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 800px;
}

.card {
  margin: 1rem;
  padding: 1.5rem;
  text-align: left;
  color: inherit;
  text-decoration: none;
  border: 2px solid #f5f5f5;
  border-radius: 10px;
  transition:
    color 0.15s ease,
    border-color 0.15s ease;
  width: 300px;
}

.card:hover,
.card:focus,
.card:active {
  color: #0000ff; /* Blue */
  border-color: #0000ff; /* Blue */
}

.card h2 {
  margin: 0 0 1rem 0;
  font-size: 1.5rem;
}

.card p {
  margin: 0;
  font-size: 1.25rem;
  line-height: 1.5;
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
  .footer {
    flex-direction: column;
    align-items: flex-start;
  }
}

@media (prefers-color-scheme: dark) {
  .card:hover,
  .card:focus,
  .card:active,
  .footer a:hover,
  .footer a:focus,
  .footer a:active {
    color: #87ceeb; /* SkyBlue */
    border-color: #87ceeb; /* SkyBlue */
  }
}
